html, body {
  margin: 0;
  padding: 0;
}

.main-slideshow,
.main-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.main-slideshow:after {
  content: '';
}
.main-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinate 0s;
}
.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}
.cb-slideshow li div h3 {
  font-family: Yantramanav;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
}
.main-slideshow li:nth-child(1) span {
  background-image: url('../img/main1.png');
}
.main-slideshow li:nth-child(2) span {
  background-image: url('../img/main2.png');
  animation-delay: 6s;
}
.main-slideshow li:nth-child(3) span {
  background-image: url('../img/main3.png');
  animation-delay: 12s;
}
.main-slideshow li:nth-child(4) span {
  background-image: url('../img/main4.png');
  animation-delay: 18s;
}
.main-slideshow li:nth-child(5) span {
  background-image: url('../img/main5.png');
  animation-delay: 24s;
}
.main-slideshow li:nth-child(6) span {
  background-image: url('../img/main6.png');
  animation-delay: 30s;
}
.main-slideshow li:nth-child(7) span {
  background-image: url('../img/main7.png');
  animation-delay: 36s;
}
.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}
@keyframes imageAnimation {
  0% { opacity: 0; animation-timing-function: ease-in; }
  8% { opacity: 1; animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes titleAnimation {
  0% { opacity: 0 }
  8% { opacity: 1 }
  17% { opacity: 1 }
  19% { opacity: 0 }
  100% { opacity: 0 }
}

nav {
  padding: 10;
  text-align: center;
  position: sticky;
  z-index: 1;
}
nav ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 2;
  overflow: hidden;
}
nav li {
  list-style-type:111111
  margin: 0;
  padding: 10;
  float: left;
}
nav a:hover {
  color: F0F0F0;
  text-shadow: 2px 2px 5px #000000;
}
nav li a {
  text-decoration: none;
  display: block;
  font-family: Rubik;
  color: #FFFFFF;
  font-size: 18px;
}
#home_title {
  padding: 20px;
  padding-top: 5%;
  font-family: Yantramanav;
  font-size: 100px;
  color: FFFFFF;
  text-align: center;
  text-shadow: 2px 2px 5px #000000;
  position: relative;
  z-index: 1;
}
